
# Auto detect text files and perform LF normalization

Savoir ajouter un lien a sa page web.

La fonction href sert à placer dans le code html la présence d’un lien sur la page.
Il faut copier le lien et le placer entre la fonction href.

<a> href="https://www.francetravail.fr/accueil">Mon texte de lien</a>

Erreur a éviter:
-oublier le slash avant a la fin dans </a>
